{
  "presets": ["es2015"],
  "env": {
    "test": {
      "plugins": [ 
      	["istanbul", {
      		"exclude": [
      			"spec/**/*"
      		]
      	}]
      ]
    }
  },
  "plugins": [ 
    "transform-runtime",
    "es6-promise"
  ]
}
